@{
    ViewBag.Title = "Confirm Email Address Sent";
}
<h2>@ViewBag.Title.</h2>
<div class="alert alert-success" role="alert">
  Please check your Email Inbox, a confirmation email is sent to your address. Click <strong><a href="http://www.hotmail.com" class="alert-link">  here </a></strong> to navigate to your mail client !
</div>
