body {
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    font-style: italic;
    background-color:#5f5f5f;
}

table 
{
   background-color :transparent;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    font-style: italic;
    background-color:#5f5f5f;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
     font-style: normal;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}
.labelStyle
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: rgb(193, 196, 197);
    font-style: normal;
    background-color:#5f5f5f;
}
.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(193, 196, 197);
    font-style: italic;
    background-color:#5f5f5f;
}

h3
{
    font-family: 'Source Sans Pro', sans-serif;
    color:#999999;
    font-style: italic;
    background-color:#5f5f5f;
}

p, address
{
    font-family: 'Source Sans Pro', sans-serif;
     color:#999999;
     font-style: italic;
     background-color:#5f5f5f;
}

.dropdown-menu
{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #999999;
    font-style: italic;
   color: rgb(193, 196, 197);
}

    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus
    {
        background-color:aquamarine;
        color: rgb(193, 196, 197);
    }
   