@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> 
    @_("Welcome to QSystem home page")
    </h1>
    <p class="lead"></p>
    
</div>

<div class="row">
    <div class="col-lg-4">
   
        
    </div>
    <div class="col-lg-4">
        
    </div>
    <div class="col-lg-4">
        
    </div>
</div>